<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Diri</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
            background-color: #92a8d1;
            }
              h1 {
          text-align: center;}
            table {
                text-align: center;
            }
            td {
            text-align: center;
            }
            img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            }
            
        </style>
    </head>
    <body>
        <h1>Data Diri</h1>
        <hr>
        <table border="1">
            <thead>
                <tr>
                    <td>Nama Mahasiswa</td>
                    <td>Tanggal Lahir</td>
                    <td>Photo</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td th:text="${name}"></td>
                     <td th:text="${tgl}"></td>
                     <td> <img th:src="${gambar}"> </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
